@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
}
.screen{
    position: relative;
    box-sizing: border-box;   
    height: 100vh;    
}
#screen1{
    text-transform: uppercase;
    padding-top: 170px;
}
.logo img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
#screen1{
    color:#fff;
    text-align: center;
}
#screen1 h1{
    font-weight:500;
    font-size: 41pt;
    margin: 33px 0 0 0;
}
#screen1 h2{
    font-size: 35pt;
    font-weight: 300;
}
#screen1 button{
    cursor:pointer;
    color: #fff;
    margin: 50px auto 0;
    display: block;
    outline: none;
    box-shadow: none;
    border: 2px solid #fff;
    font-size: 24pt;
    font-weight: 300;
    padding: 12px 20px;
    background-color: transparent;
}
#screen1 button:hover{
        background: #fff;
        color:#222;
}
.bg{
    display: inline-block;
    width: 90%;
    height: 90vh;
    background: rgba(255,255,255,0.3);
    vertical-align: middle;
}
#screen2{
    margin: 0 auto;
    text-align: center;
    padding-top: 58px;
}
.active{
    border-bottom: 2px solid #222;
}
#screen2 h1{
    margin-top: 50px;
    color:#222;
    text-align: center;
    font-size: 27pt;
    font-weight: 400;
}
#screen2 h2{
    cursor: pointer;
    display:inline-block;
    color:#222;
    font-weight: 300;
    margin-left: 20px;
}
#screen2 h2:hover{
    border-bottom: 2px solid #222;
}

.slick-slide img {
    width: 100%; 
}
.slider {
    width: 65%;
    margin: 25px auto;
}
.slick-slide {
    margin: 0px 20px;
}
.slider-img{

}
.slider-dsc{
    text-transform:uppercase;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
.design{
    display: block;
}
.illustrations{
    display: none;
}
#screen3{
    background: rgba(255,255,255,0.7);
    padding-top: 44px;
    color: #222;
    text-align: center;
    
}
#screen3 h1{
    cursor: default;
    padding-bottom: 21px;
    font-weight: 400; 
}
#screen3 h2{
    cursor: default;
    font-weight: 300;
}
.contact{
    margin-top: 91px;
}
textarea{
    box-sizing: border-box;
    padding: 10px;
    resize: none;
    display: block;
    margin: 10px auto 0;
    width: 460px;
    border: 1px solid #22222;
}
input[type="text"],input[type="email"]{
    box-sizing: border-box;
    border: 1px solid #22222;
    width: 218px;
    height: 30px;
    padding: 10px;
}
input[type="submit"]{
    outline: none;
    box-shadow: none;
    color: #222;
    box-shadow: none;
    background: #fff;
    border: none;
    border-top: 1px solid #41375b;
    width: 460px;
    border: 1px solid #22222;
    height: 28p;
    font-size: 15pt;
}
input[type="submit"]:hover{
    background: #41375b;
    color: #fff;
}
input[type="text"]{
    margin-right: 20px;
}
::-webkit-input-placeholder {
    
    }
